<div class="jumbotron">
    <h1><?php echo $this->translate('Welcome to a ZF2-AngularJS Skeleton App!') ?></h1>
    <p><?php echo sprintf($this->translate('You are currently running the skeleton version %s.'), \Application\Version\Version::VERSION) ?></p>
    <p><?php echo $this->translate('Use the left menu to start managing your items or the top menu to manage your data.') ?></p>
</div>
